[Desktop Entry]
Name=Arc Dark
X-KDE-PluginInfo-Name=Arc Dark
X-KDE-PluginInfo-Author=givesnofuck
X-KDE-PluginInfo-Website=http://givesnofuck.deviantart.com/art/Montana-337025212
X-KDE-PluginInfo-License=Creative Commons Attribution-ShareAlike 4.0
